@model IEnumerable<dummySpendit.Models.Transaction>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


@{
    ViewData["Title"] = "Index";
    ViewData["PageActionText"] = "+ New Transaction";
    ViewData["PageActionUrl"] = "/Transaction/Create";
}

<p>
    <div>
        @if (ViewData["PageActionText"] != null)
        {
            <a class="btn btn-danger" href="@ViewData["PageActionUrl"]">
                @ViewData["PageActionText"]
            </a>
        }
    </div>
</p>
<div class="row">
    <div class="col-md-12">
        <ejs-grid id="transactions" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true" toolbar="@(new List<string>() { "Search"})">
            <e-grid-pagesettings pageSize="10"></e-grid-pagesettings>
            <e-grid-searchSettings fields="@(new string[] { "CategoryTitleWithIcon", "Date"})" operator="contains" key="" ignoreCase="true"></e-grid-searchSettings>
            <e-grid-columns>
                <e-grid-column headerText="Category" field="CategoryTitleWithIcon" textAlign="Justify" width="250px"></e-grid-column>
                <e-grid-column headerText="Date" field="Date" width="200px" type="date" format="MMM-dd-yy" textAlign="Center" width="100px"></e-grid-column>
                <e-grid-column headerText="Amount" template="#amountColumnTemplate" textAlign="Center" width="100px"></e-grid-column>
                <e-grid-column headerText="Actions" template="#actionColumnTemplate" textAlign="Center" width="100px"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
</div>

<script id="amountColumnTemplate" type="text/x-template">
    ${if(category.Type=="Income")}
        <span class="badge bg-info">${FormattedAmount}</span>
    ${else}
        <span class="badge bg-danger">${FormattedAmount}</span>
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex justify-content-center">
        <a href="/Transaction/Edit/${TransactionId}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-pencil-fill"></i>
        </a>
        <a href="/Transaction/Details/${TransactionId}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-info-lg"></i>
        </a>
        <a href="/Transaction/Delete/${TransactionId}" class="btn btn-outline-primary btn-sm">
            <i class="bi bi-trash3-fill"></i>
        </a>
    </div>
</script>
